.mainContainer {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 140px;
}

.mainContent {
  position: relative;
  z-index: 3;
  //padding-left: 36px;
  padding-top: 20px;
}

.loginDiv {
  margin-bottom: 50px;
}
.topBanner {
  height: 130px;
}
#adverseBtnGroup {
  padding-left: 20px;
}
