<div class="app2Menu">
  <div class="inner ">

    <div class="menuitem c5 b5">
      <a id="medication-link" class="menulink" href="<%= url_for( :action => 'adverse', :locale => I18n.locale ) %>">
        <%=t 'menu_adverse' %>
      </a>
    </div>

    </div>

    <div style="float: right;width: 50px;">

    </div>
    <div class="clearBoth"></div>

  </div>
  <div class="footer">
    <p>© 2016 Larkbio</p>
  </div>
</div>